<link rel="stylesheet" href="/css/home.css">
<h1>
    home.ejs
</h1>
<section id="feed-post">
    <h2>Posts</h2>
    <!-- displaying post form only if user is logged in -->
    <% if(locals.user) { %>
        <form action="/post/create" id="create-post-form" method="post">
            <textarea name="content" id="post-content" cols="30" rows="3" placeholder="Type here..."></textarea>
            <button>Post</button>
        </form>
    <% } %>
    <div id="post-list-container">
        <ul>
            <%for(post of posts) { %>
                <li>
                    <p>
                        <%= post.content %>
                        <br>
                        <small>
                            <%= post.user.name %>
                        </small>
                    </p>
                </li>
            <%}%>
        </ul>
    </div>
</section>