<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- path relative to directory in express.static() -->
        <link rel="stylesheet" href="/css/layout.css">
    </head>
    <body>

        <%# _header.ejs will be inserted here %>
        <%- include('_header'); -%>
        
        <%# variable part will be inserted here %>
        <%# body is inbuilt variable %>
        <%- body %>
        
        <%# _footer.ejs will be inserted here %>
        <%- include('_footer'); -%>
    </body>
</html>