<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <header>
            header
        </header>
        <h1>profile.ejs</h1>
        <footer>
            footer
        </footer>
    </body>
</html>