<h1 style="margin-top: 25px; margin-left: 30%;"> Sign in to continue... </h1>
<div style="border: solid 1px #777; width: 500px; margin-top: 25px; margin-left: 30%;">
<form action="/user/create-session" method="post">
    <div class="form-outline mb-4" style="width: 400px; margin-left: 50px; margin-top: 15px;">
        <label class="form-label" for="email">Email: </label>
        <input id="email" type="email" name="email" class="form-control" placeholder="Enter Email" required>
    </div>
    <div class="form-outline mb-4" style="width: 400px; margin-left: 50px;">
        <label class="form-label" for="password">Password: </label>
        <input id="password" type="password" name="password" class="form-control" placeholder="Enter Password" required>
    </div>
    <!-- Submit button -->
    <button class="btn btn-primary btn-block mb-4" style="margin-left: 50px;">Sign in</button>
  </form>
</div>